<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.SharedSource.Audit.Pipelines.Initialize.Audit, Sitecore.SharedSource.Audit"
          patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
    <settings>
      <setting name= "Audit.Enabled" value= "true" />
    </settings>
    <log4net>
      <appender name="AuditLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/audit.log.{date}.txt" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
        </layout>
        <encoding value="utf-8" />
      </appender>
      <logger name="Sitecore.Diagnostics.Auditing" additivity="false">
        <level value="INFO" />
        <appender-ref ref="AuditLogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>